@font-face {
    font-family: 'Hattori Hanzo';
    src: local('Hattori Hanzo Light'), local('HattoriHanzo-Light'), url('../fonts/hattori/hattorihanzolight.woff2') format('woff2'), url('../fonts/hattori/hattorihanzolight.woff') format('woff'), url('../fonts/hattori/hattorihanzolight.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hattori Hanzo';
    src: local('Hattori Hanzo Light Italic'), local('HattoriHanzo-LightItalic'), url('../fonts/hattori/hattorihanzolightitalic.woff2') format('woff2'), url('../fonts/hattori/hattorihanzolightitalic.woff') format('woff'), url('../fonts/hattori/hattorihanzolightitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
